#fixedBackground {
    position: fixed;
    background: url("../assets/emilyBG.png");
    background-size: 50%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

p {
    font-size: 1vw;
}

main {
}

section {
    /* background: yellow; */
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
}

main section .card {
    height: 41.66vw;
    width: 29.17vw;
    background: url(../assets/projects/projectFrame.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 1vw;
    container-type: size;
}

main section .card img {
    height: 100cqw;
    width: 100cqw;
    border-radius: 50%;
}

main section .card article {
    width: 90%;
}

main section > article {
    background: yellow;
    width: 40vw;
}