body {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    position: absolute;
    font-size: 9vw;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    translate: -5vw 0;
}

h2 {
    font-size: 4vw;
}

main {
    color: var(--white);
    align-items: center;
}

main article {
    padding: 20% 5% 10% 5%;
}

main p {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 3vw;
}

.grid-container {
    gap: 50px;
    width: 100vw;
}

.grid-container div {
    gap: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#work1 {
    width: 28vw;
}

#work2 {
    width: 26vw;
}

#work3 {
    width: 28vw;
}

#work4 {
    width: 38vw;
    height: 21vw;
}

#work5 {
    width: 32vw;
}