img {
    width: 300px;
}

h2 {
    color: #3B1709;
    font-family: "Instrument Serif", serif;
    font-size: 4vw;
}

main {
    align-items: center;
    padding-bottom: 5%;
}

.bar {
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-size: 1.4vw;
    display: flex;
    background: url("../assets/menu/navBar.png");
    background-size: auto 100%;
    background-color: var(--secondary);
    background-position: 0 0;
    height: 5.85vw;
    width: 100vw;
    /* align-items: center;
    justify-content: center; */
    gap: 3vw;
    border: 3px var(--dark);
    border-style: solid none;
}

section {
    height: 80vh;
    width: 85vw;
}

/* VFX */

section:nth-child(2) {
    background: url("../assets/works/workBG1.png");
    background-size: 100% 100%;
}

section:nth-child(2) div {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1%;
}

section:nth-child(2) video {
    width: 45vw;
}

/* ANIMATION */

section:nth-child(4) {
    display: flex;
    justify-content: center;
    background: url("../assets/works/workBG2.png");
    background-size: 100% 100%;
    align-items: center;
    gap: 3%;
}

section:nth-child(4) h2 {
    width: 42vw;
}

section:nth-child(4) div {
    width: 36vw;
}

section:nth-child(4) video {
    width: 36vw;
}

section:nth-child(4) div:nth-child(2) video:nth-child(1) {
    position: relative;
    left: 5vw;
}

section:nth-child(4) div:nth-child(2) video:nth-child(2) {
    position: relative;
    top: -1vw;
    left: -4vw;
}

/* ANIMATIC */

section:nth-child(6) {
    background: url("../assets/works/workBG3.png");
    background-size: 100%;
    gap: 1%;
}

section:nth-child(6) > div {
    gap: 1%;
}

section:nth-child(6) > div > div {
    gap: 3%;
}

section:nth-child(6) > div > div > div {
    gap:5%;
}

section:nth-child(6) video {
    width: 37vw;
}

#animatic1 {
    width: 20vw;
}

#animatic2 {
    width: 20vw;
}

#animatic3 {
    width: 30vw;
}

/* CONCEPT ART */

section:nth-child(8) {
    background: url("../assets/works/workBG1.png");
    background-size: 100%;
}

footer div {
    height: 15vh;
    padding: 4vh 0;
}

footer div p {
    font-size: 1.35vw;
}
